# Table of Contents for Task on 4.9 Intro to data visualization
    Import libraries, set path, import files (customers.csv and ords_prods_merge_newvariable_flags.pkl)
    Customers file
        Perform checks (shape, head, tail, columns, describe, dtypes, value_counts
        Change dtypes for smaller RAM
        Drop columns First Name and Surname as they are not needed for analysis (personable identifiers)
        Find missing values and duplicates: none
    Ords_prods_merge file
        Perform checks (shape, dtypes)
        Drop columns not needed
    Merge both files left to attach the customer info onto the ords_prods info
        Check shape, head, value_counts for _merge
        Check for missing values and duplicates
        Review for shape, head, columns
    Export as orders_products_customers.pkl

# Importing libraries

In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

# Set path

In [2]:
path = r'C:\Users\valev\Desktop\0325 Instacart Basket Analysis'

# Import files

In [3]:
df_customers = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'customers.csv'))

In [4]:
df_ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ord_prods_merge_newvariable_flags.pkl' ))

# Perform checks on Customers file

In [5]:
df_customers.shape

(206209, 10)

In [6]:
df_customers.head()

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

In [7]:
df_customers.tail()

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income
206204,168073,Lisa,Case,Female,North Carolina,44,4/1/2020,1,married,148828
206205,49635,Jeremy,Robbins,Male,Hawaii,62,4/1/2020,3,married,168639
206206,135902,Doris,Richmond,Female,Missouri,66,4/1/2020,2,married,53374
206207,81095,Rose,Rollins,Female,California,27,4/1/2020,1,married,99799
206208,80148,Cynthia,Noble,Female,New York,55,4/1/2020,1,married,57095

In [8]:
df_customers.columns

Index(['user_id', 'First Name', 'Surnam', 'Gender', 'STATE', 'Age',
       'date_joined', 'n_dependants', 'fam_status', 'income'],
      dtype='object')

In [9]:
df_customers.describe()

             user_id            Age   n_dependants         income
count  206209.000000  206209.000000  206209.000000  206209.000000
mean   103105.000000      49.501646       1.499823   94632.852548
std     59527.555167      18.480962       1.118433   42473.786988
min         1.000000      18.000000       0.000000   25903.000000
25%     51553.000000      33.000000       0.000000   59874.000000
50%    103105.000000      49.000000       1.000000   93547.000000
75%    154657.000000      66.000000       3.000000  124244.000000
max    206209.000000      81.000000       3.000000  593901.000000

In [10]:
df_customers.dtypes

user_id          int64
First Name      object
Surnam          object
Gender          object
STATE           object
Age              int64
date_joined     object
n_dependants     int64
fam_status      object
income           int64
dtype: object

In [11]:
df_customers.value_counts(dropna=False)

user_id  First Name  Surnam    Gender  STATE          Age  date_joined  n_dependants  fam_status                        income
1        Linda       Nguyen    Female  Alabama        31   2/17/2019    3             married                           40423     1
137478   Elizabeth   Mcdonald  Female  Maryland       19   12/16/2019   2             living with parents and siblings  28625     1
137468   Todd        Welch     Male    Nevada         31   7/11/2017    1             married                           42533     1
137469   Douglas     Andrews   Male    New Hampshire  45   4/18/2018    1             married                           125718    1
137470   Jeremy      Bennett   Male    New Jersey     19   5/10/2019    3             living with parents and siblings  79969     1
                                                                                                                                 ..
68740    Michael     Wall      Male    Tennessee      48   8/18/2017    3             married                           134149    1
68741    Amy         Mack      Female  Texas          68   6/15/2017    0             divorced/widowed                  31977     1
68742    Victor      Guzman    Male    Utah           33   4/5/2019     0             single                            58471     1
68743    Stephen     Michael   Male    Vermont        70   7/28/2017    1             married                           80221     1
206209   Diana       Donovan   Female  Iowa           74   9/14/2019    3             married                           137969    1
Name: count, Length: 206209, dtype: int64

## Change dtypes

In [12]:
# Change user_id to a shorter integer and to match the other dataframe to be merged with - int32
df_customers['user_id'] = df_customers['user_id'].astype('int32')

In [13]:
#Check dtype
df_customers['user_id'].dtype

dtype('int32')

In [14]:
# Change age to a shorter integer.  Change data type on age to int8
df_customers['Age'] = df_customers['Age'].astype('int8')

In [15]:
#Check dtype
df_customers['Age'].dtype

dtype('int8')

In [16]:
# Change income to a shorter integer.  Change data type on income to int32
df_customers['income'] = df_customers['income'].astype('int32')

In [17]:
# Change n_dependants to a shorter integer.  Change data type to int8
df_customers['n_dependants'] = df_customers['n_dependants'].astype('int8')

In [18]:
df_customers.dtypes

user_id          int32
First Name      object
Surnam          object
Gender          object
STATE           object
Age               int8
date_joined     object
n_dependants      int8
fam_status      object
income           int32
dtype: object

# Drop columns First Name and Surname as they are not needed for analysis (personable identifiers)

In [19]:
df_customers.drop(['First Name', 'Surnam'], axis=1, inplace=True)

In [20]:
df_customers.columns

Index(['user_id', 'Gender', 'STATE', 'Age', 'date_joined', 'n_dependants',
       'fam_status', 'income'],
      dtype='object')

In [21]:
df_customers.shape

(206209, 8)

## Find missing values and duplicates

In [22]:
# Find Missing Values in df_customers
df_customers.isnull().sum()

user_id         0
Gender          0
STATE           0
Age             0
date_joined     0
n_dependants    0
fam_status      0
income          0
dtype: int64

### There are no missing values

In [23]:
# Look for duplicates
df_dups = df_customers[df_customers.duplicated()]

In [24]:
df_dups

Empty DataFrame
Columns: [user_id, Gender, STATE, Age, date_joined, n_dependants, fam_status, income]
Index: []

### There are no duplicates

# Checks on next file

In [25]:
df_ords_prods_merge.shape

(32404859, 24)

In [26]:
df_ords_prods_merge.dtypes

product_id                     int32
product_name                  object
aisle_id                       int16
department_id                  int32
prices                       float64
order_id                       int32
user_id                        int32
order_number                    int8
orders_day_of_week              int8
order_hour_of_day               int8
days_since_prior_order       float16
add_to_cart_order              int32
reordered                       int8
_merge                      category
price_range_loc               object
busiest_day                   object
busiest_days                  object
busiest_period_of_day         object
max_order                       int8
loyalty_flag                  object
average_spent                float64
spending_flag                 object
median_days_since_orders     float16
order_frequency_flag          object
dtype: object

In [27]:
df_ords_prods_merge['_merge'].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

## Drop columns: _merge (confirmed it was a good merge), busiest_day (from 4.7 not needed)

In [28]:
df_ords_prods_merge.drop(['_merge', 'busiest_day'], axis=1, inplace=True)

# Merge both customers and past pkl file from Task on 4.8 exercise

In [29]:
df_ords_prods_merge.shape

(32404859, 22)

In [30]:
df_ords_prods_merge.columns

Index(['product_id', 'product_name', 'aisle_id', 'department_id', 'prices',
       'order_id', 'user_id', 'order_number', 'orders_day_of_week',
       'order_hour_of_day', 'days_since_prior_order', 'add_to_cart_order',
       'reordered', 'price_range_loc', 'busiest_days', 'busiest_period_of_day',
       'max_order', 'loyalty_flag', 'average_spent', 'spending_flag',
       'median_days_since_orders', 'order_frequency_flag'],
      dtype='object')

In [31]:
df_merged = df_ords_prods_merge.merge(df_customers, on='user_id', how='left', indicator=True)

### Merged left to attach the customer info onto the ords_prods info.  The number of rows should be the same as the latter with the added columns

In [32]:
df_merged.shape

(32404859, 30)

#### The number of rows is the same

In [33]:
df_merged.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,...,median_days_since_orders,order_frequency_flag,Gender,STATE,Age,date_joined,n_dependants,fam_status,income,_merge
0,1,Chocolate Sandwich Cookies,61,19,5.800781,1107,38259,2,1,11,...,30.0,Non-frequent customer,Female,District of Columbia,68,6/30/2019,2,married,142744,both
1,1,Chocolate Sandwich Cookies,61,19,5.800781,5319,196224,65,1,14,...,1.0,Frequent customer,Male,New York,48,4/29/2018,2,married,43906,both
2,1,Chocolate Sandwich Cookies,61,19,5.800781,7540,138499,8,0,14,...,7.0,Frequent customer,Female,Massachusetts,31,3/11/2017,2,married,78505,both
3,1,Chocolate Sandwich Cookies,61,19,5.800781,9228,79603,2,2,10,...,30.0,Non-frequent customer,Male,Tennessee,65,10/27/2019,1,married,51010,both
4,1,Chocolate Sandwich Cookies,61,19,5.800781,9273,50005,1,1,15,...,7.0,Frequent customer,Male,New Jersey,75,4/9/2019,3,married,115468,both

In [34]:
df_merged['_merge'].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

In [35]:
# Find Missing Values 
df_merged.isnull().sum()

product_id                        0
product_name                      0
aisle_id                          0
department_id                     0
prices                            0
order_id                          0
user_id                           0
order_number                      0
orders_day_of_week                0
order_hour_of_day                 0
days_since_prior_order      2076096
add_to_cart_order                 0
reordered                         0
price_range_loc                   0
busiest_days                      0
busiest_period_of_day             0
max_order                         0
loyalty_flag                      0
average_spent                     0
spending_flag                     0
median_days_since_orders          5
order_frequency_flag              5
Gender                            0
STATE                             0
Age                               0
date_joined                       0
n_dependants                      0
fam_status                        0
income                            0
_merge                            0
dtype: int64

In [36]:
df_ords_prods_merge.isnull().sum()

product_id                        0
product_name                      0
aisle_id                          0
department_id                     0
prices                            0
order_id                          0
user_id                           0
order_number                      0
orders_day_of_week                0
order_hour_of_day                 0
days_since_prior_order      2076096
add_to_cart_order                 0
reordered                         0
price_range_loc                   0
busiest_days                      0
busiest_period_of_day             0
max_order                         0
loyalty_flag                      0
average_spent                     0
spending_flag                     0
median_days_since_orders          5
order_frequency_flag              5
dtype: int64

### The same missing values.  Days since prior order OK.

In [37]:
# Look for duplicates
df_dups_merge = df_merged[df_merged.duplicated()]

In [38]:
df_dups_merge

Empty DataFrame
Columns: [product_id, product_name, aisle_id, department_id, prices, order_id, user_id, order_number, orders_day_of_week, order_hour_of_day, days_since_prior_order, add_to_cart_order, reordered, price_range_loc, busiest_days, busiest_period_of_day, max_order, loyalty_flag, average_spent, spending_flag, median_days_since_orders, order_frequency_flag, Gender, STATE, Age, date_joined, n_dependants, fam_status, income, _merge]
Index: []

[0 rows x 30 columns]

In [39]:
df_dups_merge.shape

(0, 30)

In [40]:
df_merged.shape

(32404859, 30)

In [41]:
df_merged_nodups = df_merged.drop_duplicates()

In [42]:
df_merged_nodups.shape

(32404859, 30)

### Duplicates removed OK

In [43]:
df_merged_nodups.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,...,median_days_since_orders,order_frequency_flag,Gender,STATE,Age,date_joined,n_dependants,fam_status,income,_merge
0,1,Chocolate Sandwich Cookies,61,19,5.800781,1107,38259,2,1,11,...,30.0,Non-frequent customer,Female,District of Columbia,68,6/30/2019,2,married,142744,both
1,1,Chocolate Sandwich Cookies,61,19,5.800781,5319,196224,65,1,14,...,1.0,Frequent customer,Male,New York,48,4/29/2018,2,married,43906,both
2,1,Chocolate Sandwich Cookies,61,19,5.800781,7540,138499,8,0,14,...,7.0,Frequent customer,Female,Massachusetts,31,3/11/2017,2,married,78505,both
3,1,Chocolate Sandwich Cookies,61,19,5.800781,9228,79603,2,2,10,...,30.0,Non-frequent customer,Male,Tennessee,65,10/27/2019,1,married,51010,both
4,1,Chocolate Sandwich Cookies,61,19,5.800781,9273,50005,1,1,15,...,7.0,Frequent customer,Male,New Jersey,75,4/9/2019,3,married,115468,both

In [44]:
df_merged_nodups.columns

Index(['product_id', 'product_name', 'aisle_id', 'department_id', 'prices',
       'order_id', 'user_id', 'order_number', 'orders_day_of_week',
       'order_hour_of_day', 'days_since_prior_order', 'add_to_cart_order',
       'reordered', 'price_range_loc', 'busiest_days', 'busiest_period_of_day',
       'max_order', 'loyalty_flag', 'average_spent', 'spending_flag',
       'median_days_since_orders', 'order_frequency_flag', 'Gender', 'STATE',
       'Age', 'date_joined', 'n_dependants', 'fam_status', 'income', '_merge'],
      dtype='object')

In [45]:
df_merged_nodups.shape

(32404859, 30)

# Export data to pkl

In [46]:
df_merged_nodups.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_customers.pkl'))